.About-section-Contain {
    background-color: white;
    color: black;
    padding: 12px 0px 0px 19px;
    padding: 1%;
    margin-top: auto;
}

.About-section-heading {
    padding: 2.5px;
    justify-content: center;
    text-align: center;
    background-color: #5271ff;
    color: white;
    /* margin-bottom: -8px; */
    
}

.about {
    border: 3.5px solid #5271ff;
    margin: 0% 10% 0px 10%;
    margin-bottom: -2.5%;
    margin-top: 2.5%;
    border-radius: 5px 5px 5px 5px;
}


.foooter {
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 0;
}

.card-section {
    margin: 5% 10% 47px 10% !important;
}

.live-score-image {
    border-radius: 30px;
    border: 2px solid white;
}





