/*************************************
    Colors config file
*************************************/

params {
    RED = '\033[0;31m'
    Bold_red = '\033[1;31m'
    Light_red = '\033[2;31m'
    Italic_red = '\033[3;31m'
    GREEN = '\033[0;32m'
    Bold_green = '\033[1;32m'
    Light_green = '\033[2;32m'
    Italic_green = '\033[2;32m'
    BLUE = '\033[0;34m'
    Bold_blue = '\033[1;34m'
    Light_Blue = '\033[2;34m'
    Italic_Blue = '\033[2;34m'
    LightBlue = '\033[1;34m'
    bgLightBlue = '\033[1;44m'
    YELLOW = '\033[0;33m'
    BLACK = '\033[0;30m'
    CYAN = '\033[0;36m'
    LightCyan = '\033[1;36m'
    bgLightCyan = '\033[1;46m'
    PURPLE = '\033[0;35m'
    LightPurple = '\033[1;35m'
    bgLightPurple = '\033[1;45m'
    BROWN = '\033[0;33m'
    Bold = '\033[1m'
    Italic = '\033[3m'
    Under = '\033[4m'
    Blink = '\033[5m'
    Bag_fill = '\033[7m'
    Dash = '\033[9m'
    Bold = '\033[10m'
    DarkGray = '\033[1;30m'
    bgDarkGray = '\033[1;40m'
    WHITE = '\033[1;37m'
    bgWhite = '\033[1;47m'
    CLEAR = '\033[0m'
}