/* Base parameters */
params {
    publish_dir_mode    = 'copy'
    ipdir               = "/mnt/2TB_New/user_data/yuvraj/Fastq_files/brain_genomics_public"
    output_dir          = "test_data/OUTPUTS"
    csv                 = "${ipdir}/metadata.csv"
    fasta               = "/mnt/2TB/GeneAssure_RefFiles/hg38/hg38.fa"
    snp                 = "/mnt/2TB/GeneAssure_RefFiles/hg38/GCF_000001405.40_sort_chr1_22_XY.vcf.gz"
    indel               = "/mnt/2TB/GeneAssure_RefFiles/hg38/resources_broad_hg38_v0_Homo_sapiens_assembly38.known_indels.vcf.gz"
    intervalList        = "/mnt/2TB/GeneAssure_RefFiles/hg38/hs38DH.interval_list"
    trim                = "abc"
    max_memory          = '42.GB'
    max_cpus            = 16
    max_time            = '240.h'
    cram                = ""
    step                = ""
    bed                 = "/mnt/2TB/GeneAssure_RefFiles/hg38/hs38DH.bed"
}