<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css\styiling.css' %}">
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
    <title>GeneAssure</title>
    <style>
        @media screen and (max-width: 768px) {
            .upload-container {
                text-align: center;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar py-0 navbar-expand-lg navbar-box" style="background-color:#000435">
        <div class="container-fluid">
            <img src="{% static 'images\GeneAssure-removebg-preview.png'%}" class="logo-image" alt="" srcset=""
                style="height: 65px; width: 200px;">
            <style>
                .logo-image {
                    max-width: 30%;
                    max-height: 30%;
                }
            </style>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="color: white;">
                        <span class="d-lg-inline text-gray-600 small" style="color: white;">
                            Welcome, {{ user.first_name }} {{ user.last_name }}
                            <!-- Display user's first name and last name -->
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <div class="dropdown-header" >
                            <h6>Hi, {{ user.first_name }} {{ user.last_name }}</h6>
                        </div>
                        <a class="dropdown-item" href="/profile">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/" onclick="logoutAndRedirect()">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <div class="card m-5">
        <div class="About-section-heading">
            <h2> About GeneAssure </h2>
        </div>
        <div class="About-section-Contain">
            <p>GeneAssure is a cutting-edge solution revolutionizing large-scale genomic data analysis. With seamlessly
                integrated workflows and a user-friendly interface, it empowers users to effortlessly run complex
                genomic workflows. GeneAssure leverages validated and community-tested tools, ensuring reliability and
                accuracy. Its scalability and ability to run multiomics workflows position GeneAssure as an invaluable
                asset for diagnostic companies and healthcare researchers.
            </p>
            <h6> Select Analysis:</h6>
            <form action="/index/" method="post" id="analysisForm">{%csrf_token%}
                <div class="container" style="text-align: center;">
                    <div style="text-align: left;">
                        <input type="radio" name="analysis" value="Variant Analysis"> Variant Analysis<br>
                        <input type="radio" name="analysis" value="RNASeq Analysis"> RNASeq Analysis<br>
                        <input type="radio" name="analysis" value="Single Cell RNASeq"> Single Cell RNASeq<br><br>
                    </div>
                    <input class="btn btn-success" type="submit" value="Start" id="submitButton">
                </div>
            </form>
            <script>
                $(document).ready(function() {
                    $("#analysisForm").submit(function(e) {
                        e.preventDefault(); // prevent the form from submitting
        
                        // Get the selected value
                        var selectedAnalysis = $("input[name='analysis']:checked").val();
        
                        // Redirect based on the selected value
                        if (selectedAnalysis === "Variant Analysis") {
                            window.location.href = "/index/";
                        } else if (selectedAnalysis === "RNASeq Analysis") {
                            window.location.href = "http://54.145.241.43/app/GeneAssureGx"
                        } else if (selectedAnalysis === "Single Cell RNASeq") {
                            window.location.href = "http://3.215.57.143/app/GeneAssureSGx"; 
                        }
                    });
                });
            </script>
        </div>
    </div><br><br>
    <div class="container">
        <footer class="foooter d-flex flex-wrap justify-content-between align-items-center mt-1 ml-0"
            style="background-color:#000435; position: fixed; bottom: 0; left: 0; width: 100%;">
            <!-- <p class="col-md-4 mb-0 text-body-secondary">© 2023 Company, Inc</p> -->
            <a target="_blank" href="https://genespectrum.in/"> <img src="{% static 'images\Logo_rework.png' %}"
                    class=" d-flex align-items-center justify-content-center  link-body-emphasis text-decoration-none"
                    height="40px" width="150px" alt="" srcset="" style="margin-left: 10%;"> </a>

            <section class=" footer-icons" style="padding: 0% 0% 0% 22% !important;">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-bg-dark " href="https://www.facebook.com/genespectrum"
                    target="_blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-bg-dark" href="https://twitter.com/genespectrum"
                    target="_blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-bg-dark " href="https://www.instagram.com/genespectrum/"
                    target="_blank" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-bg-dark"
                    href="https://www.linkedin.com/company/genespectrum" target="_blank" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
            </section>
            <!-- Section: Social media -->

            <ul class="nav col-md-4 mx-4 justify-content-end">
                <a class="nav-item" href="tel:917021386045" style="padding: 0px 6px 0px 0px;">+91 7021386045</a> |
                <a class="nav-item " href="mailto:rarevardb@genespectrum.in" style="padding: 0px 0px 0px 6px;">
                    geneassure@genespectrum.in</a>

            </ul>
        </footer>

    </div>

</body>

</html>